header {
  align-items: center;
  background-color: rgb(190, 70, 70);
  color: white;
  display: flex;
  font-weight: bolder;
  font-family: 'Prosto One', cursive;
  font-size: 25px;
  height: 50px;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}